@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(25, 25, 25);
}

#main {
  width: 100%;
  min-height: 100vh;
  transform: translateX(0);
}

canvas {
  display: block;
}


.loading {
  color: white;
  font-family: 'Jersey 25';
  text-align: center;
  vertical-align: center;
  font-size: 8vh;
}


.slider{
  width: 80px;
  background-color: transparent;
  -webkit-appearance: none;
  bottom: 15vh;
}

.slider:focus {
  outline: none;
}


.slider::-webkit-slider-runnable-track {
  background: rgb(86, 86, 86);
  height: 15vh;
  -webkit-appearance: none;
  border-radius: 8px;
}

.slider::-webkit-slider-thumb {
  width: 40px;
  height: 15vh;
  background: rgb(175, 203, 202);
  cursor: grab;
  -webkit-appearance: none;
  margin-top: 0;
  border-radius: 8px;
}